In [1]:
import pandas as pd

In [3]:
csvFile= pd.read_csv("C:/Users/K-Nohri/Downloads/Pokemon.csv")

In [6]:
csvFile.head()
csvFile.tail(n=4)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [7]:
csvFile.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [11]:
csvFile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [15]:
csvFile.count()

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [28]:
csvFile["Attack"].value_counts()
# print(type(csvFile["Attack"]))

100    40
65     39
50     37
80     37
85     33
       ..
46      1
190     1
106     1
132     1
33      1
Name: Attack, Length: 111, dtype: int64

In [35]:
csvFile.isnull().sum()
csvFile.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [52]:
# data=csvFile["Attack"][2]

# Assignment

In [48]:
attack_mean_hp = csvFile["HP"].mean()

def set_attack_hp(val):
    if val < attack_mean_hp:
        return "HP Low"
    elif val == attack_mean_hp:
        return "HP neutral"
    else:
        return "HP High"

In [49]:
# "HP_high_low"  -> "HP High" , "HP Low"
csvFile["HP_high_low"] = csvFile["HP"].apply(set_attack_hp)
csvFile.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,HP_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,HP Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,HP Low
2,3,Venusaur,Grass,Poison,525,80,56,83,100,100,80,1,False,HP High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,HP High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,HP Low

In [50]:
attack_mean_speed = csvFile["Speed"].mean()

def set_attack_speed(val):
    if val < attack_mean_speed:
        return "Speed Low"
    elif val == attack_mean_speed:
        return "Speed neutral"
    else:
        return "Speed High"

In [51]:
# "Speed_high_low"  -> "Speed High" , "Speed Low"
csvFile["Speed_high_low"] = csvFile["Speed"].apply(set_attack_speed)
csvFile.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,HP_high_low,Speed_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,HP Low,Speed Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,HP Low,Speed Low
2,3,Venusaur,Grass,Poison,525,80,56,83,100,100,80,1,False,HP High,Speed High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,HP High,Speed High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,HP Low,Speed Low